{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    {{ form(form) }}
    {% if errors is not null %}
        {{ errors }}
    {% endif %}
    <div class="row">
        <div class="col-md-4">
            <h2>Téléchargement demandé</h2>
            {% if files is not empty %}
                <ul>
                    {% for file in files %}
                        <li>
                            <a href="{{ '/output/'~file.name }}" download>{{ file.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <div class="col-md-8">
            <h2>
                Historique
            </h2>

            {% if historiqueDivisions is not empty %}
                {% for divsionKey, games in historiqueDivisions %}
                    <h3>{{ divsionKey }}</h3>
                    <ul>
                        {% for game in games %}
                            <li><a href="{{ game.path }}" download>{{ game.filename }}</a> / {{ game.date|date('D, d M Y H:i:s') }}</li>
                        {% endfor %}
                    </ul>
                {% endfor %}
            {% else %}
                - pas d'historique-
            {% endif %}
        </div>
    </div>
{% endblock %}
